.button {
  background: var(--mantine-color-orangeBlack-0);
  border-radius: rem(8px);
  border: 1px solid var(--mantine-color-orangeBrenta-2);
  color: var(--mantine-color-orangeBrenta-2);
  -webkit-box-shadow: 1px 1px 4px 2px rgba(208, 179, 168, 0.35);
  box-shadow: 1px 1px 4px 2px rgba(208, 179, 168, 0.35);
  padding: 0.6em 1.6em;
  cursor: pointer;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(102%);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-md);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: var(--mantine-font-size-sm);
  }

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-lg);
  }
}
