.button {
  background: transparent !important;
  border-radius: rem(8px);
  border: 1px solid var(--mantine-color-orangeBrenta-2) !important;
  color: var(--mantine-color-orangeBrenta-2) !important;
  font-size: var(--mantine-font-size-lg) !important;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(208, 179, 168, 0.35) !important;
  box-shadow: 1px 1px 4px 2px rgba(208, 179, 168, 0.35) !important;
}
