.footer {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: var(--mantine-spacing-md);
  background-color: var(--mantine-color-orangeBlack-1);
  border-top: rem(1px) solid var(--mantine-color-orangeBlack-2);
  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: var(--mantine-spacing-xl);
  }
}

.title {
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: var(--mantine-color-fontWhite-0);
}

.link {
  display: block;
  color: var(--mantine-color-fontWhite-0);
  font-size: var(--mantine-font-size-xs);
  padding-top: rem(3px);
  padding-bottom: rem(3px);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linkCredits {
  text-decoration: undeline;
  text-decoration-color: alpha(var(--mantine-color-bluePrimary-0), 0.7);
  text-underline-offset: em(4);
  color: alpha(var(--mantine-color-bluePrimary-0), 0.7);
  text-decoration-thickness: 0.2px;

  @mixin hover {
    text-decoration-thickness: 2px;
  }
}

.linkCreditsContainer {
  @media (max-width: $mantine-breakpoint-md) {
    margin-top: var(--mantine-spacing-lg) !important;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: var(--mantine-spacing-lg);
  }
  @media (max-width: $mantine-breakpoint-xxs) {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xl);
  }
}

.wrapper {
  width: rem(160px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: rem(160px);
  align-self: center;
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid var(--mantine-color-orangeBlack-2);

  @media (max-width: $mantine-breakpoint-md) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: rem(8px);
  }
}

.social {
  @media (max-width: $mantine-breakpoint-sm) {
    gap: rem(24px) !important;
  }
}

.icons {
  width: rem(18px);
  height: rem(18px);

  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(24px);
    height: rem(24px);
  }
}
