.nav {
  height: rem(56px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 rem(12px);
  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: space-between;
  }
}

.logo {
  width: rem(48);
  height: rem(48);
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-fontWhite-0);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  cursor: pointer;
}

.primaryLink {
  @mixin hover {
    /* background-color: var(--mantine-color-dark-6); */
    background-color: var(--mantine-color-orangeBlack-2);
  }
}

.dropdown {
  background-color: var(--mantine-color-orangeBlack-1) !important;
  border-color: var(--mantine-color-orangeBlack-2) !important;
}

.dropdown button {
  @mixin hover {
    background-color: var(--mantine-color-orangeBlack-2);
  }
}

.navMobile {
  background-color: alpha(var(--mantine-color-orangeBlack-0), 0.5);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: rem(56px);
}
