.sectionContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  /* border: 1px solid blue; */
  @media (max-width: $mantine-breakpoint-md) {
    gap: rem(0px);
    margin-top: rem(24px) !important;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px !important;
  gap: rem(32px);
  margin-top: rem(48px) !important;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
    flex-direction: column;
    gap: rem(48px);
  }
}

.trail {
  width: rem(640px);
  height: rem(640px);

  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(480px);
    height: rem(480px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(320px);
    height: rem(320px);
  }

  @media (max-width: $mantine-breakpoint-xxs) {
    width: rem(240px);
    height: rem(240px);
  }

  path {
    transition: all 0.2s ease-in;
    filter: none;
  }

  

  /* &:hover {
    path {
      stroke-width: 4;
      filter: drop-shadow(1px 1px 6px var(--mantine-color-orangeBrenta-0));
    }
  } */
}

.glow {
    path {
      stroke-width: 4;
      filter: drop-shadow(1px 1px 6px var(--mantine-color-orangeBrenta-0));
    }
  }
