.sectionContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  /* border: 1px solid blue; */
  @media (max-width: $mantine-breakpoint-md) {
    gap: rem(32px);
    margin-top: rem(16px) !important;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px !important;
  gap: rem(32px);
  margin-top: rem(16px) !important;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
    flex-direction: column;
    gap: rem(0px);
  }
}

.trailLong {
  width: rem(640px);
  height: rem(640px);
  margin-top: rem(72px);

  @media (max-width: $mantine-breakpoint-xl) {
    width: rem(480px);
    height: rem(480px);
  }
  @media (max-width: $mantine-breakpoint-lg) {
    width: rem(400px);
    height: rem(400px);
  }

  @media (max-width: $mantine-breakpoint-md) {
    margin-top: rem(32px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(320px);
    height: rem(320px);
  }

  @media (max-width: $mantine-breakpoint-xxs) {
    width: rem(240px);
    height: rem(240px);
  }

  path {
    transition: all 0.2s ease-in;
    stroke-width: 2.5px !important;
    filter: none;
  }
}

.trailShort {
  width: rem(480px);
  height: rem(480px);

  @media (max-width: $mantine-breakpoint-xl) {
    width: rem(400px);
    height: rem(400px);
  }
  @media (max-width: $mantine-breakpoint-lg) {
    width: rem(320px);
    height: rem(320px);
  }
  @media (max-width: $mantine-breakpoint-md) {
    margin-top: rem(-40px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(320px);
    height: rem(320px);
  }

  @media (max-width: $mantine-breakpoint-xxs) {
    width: rem(200px);
    height: rem(200px);
  }

  path {
    transition: all 0.2s ease-in;
    filter: none;
    stroke-width: 3px !important;
  }
}

.glow {
  path {
    stroke-width: 5px !important;
    filter: drop-shadow(2px 2px 8px var(--mantine-color-orangeBrenta-0));
  }
}

.imgContainer {
  width: 70%;
  @media (max-width: $mantine-breakpoint-sm) {
    width: 90%;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}
