.main {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-fontWhite-0);
  font-size: rem(18px);
  @mixin hover {
    text-decoration: underline;
  }
}
