.hero {
  /* border: 1px solid blue; */
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 0.2fr;
  padding: 0px !important;
  padding-top: rem(48px) !important;
  padding-left: rem(40px) !important;
}

.where {
  grid-row: 2/3;
  grid-column: 1/2;
}

.cta {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-content: space-between;
}

.image {
  background-color: yellow;
  grid-row: 1/3;
  grid-column: 2/4;
}

.trailSpecs {
  grid-row: 3/4;
  grid-column: 2/4;
}

.tableRow {
  border-bottom: 0.5px solid alpha(var(--mantine-color-fontWhite-0), 0.3);
  border-top: 0.5px solid alpha(var(--mantine-color-fontWhite-0), 0.3);
  padding: rem(64px) 0px;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--mantine-spacing-lg);
  }
}

.rowTitle {
  font-weight: var(--mantine-fw-medium);
  margin-left: var(--mantine-spacing-xl) !important;
  @media (max-width: $mantine-breakpoint-md) {
    margin-left: 0px !important;
  }
}

.rowContent {
  margin-right: var(--mantine-spacing-xl) !important;
  gap: var(--mantine-spacing-xl);
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0px !important;
    gap: var(--mantine-spacing-sm);
  }

  @media (max-width: $mantine-breakpoint-xxs) {
    flex-direction: column;
  }
}

.arrow {
  cursor: pointer;
  @media (max-width: $mantine-breakpoint-md) {
    width: rem(32px);
  }
}
