.hero {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.8fr 0.6fr;
  padding: 0px !important;
  padding-top: rem(48px) !important;
  padding-left: rem(40px) !important;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.1fr 0.1fr 0.1fr;
    padding-left: rem(0px) !important;
  }
}

.imgContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.imgContainerInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgLoading {
  position: absolute;
  top: 5%;
  right: 0;
  height: 80%;
  z-index: -1;
  filter: blur(20px);
  @media (max-width: $mantine-breakpoint-md) {
    width: 90%;
    top: 15%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    top: 20%;
  }
}

.imgLoaded {
  position: absolute;
  top: 5%;
  right: 0;
  width: 80%;
  z-index: -1;

  @media (max-width: $mantine-breakpoint-md) {
    width: 90%;
    top: 15%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    top: 20%;
  }
}

.heroTitle {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(88px) !important;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(64px) !important;
  }
}

.logo {
  width: rem(400px);
}

.logoBig {
  width: rem(800px);
}

.middleSection {
  align-items: center;
  justify-content: center;
}

.where {
  grid-row: 2/3;
  grid-column: 1/2;
  align-items: flex-start !important;
  @media (max-width: $mantine-breakpoint-sm) {
    align-items: center !important;
    justify-content: center;
  }
}

.whereInner {
  @media (max-width: $mantine-breakpoint-sm) {
    background-color: alpha(var(--mantine-color-orangeBlack-0), 0.3);
    backdrop-filter: blur(10px);
    padding: 0.6em;
    border-radius: rem(8px);
    align-items: center !important;
    justify-content: center;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    /* background-color: transparent;
    backdrop-filter: none;
    padding: 0;
    border-radius: none; */
  }
}

.cta {
  grid-row: 3/4;
  grid-column: 1/2;
  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center !important;
  }
}

.trailSpecs {
  grid-row: 3/4;
  grid-column: 2/4;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: rem(20px);
  margin-right: rem(6px);

  @media (max-width: $mantine-breakpoint-sm) {
    grid-row: 4/5;
    grid-column: 1/2;
    justify-content: center;
  }
}

.trailSpecsWrapper {
  display: flex;
  gap: rem(6px);
  background-color: alpha(var(--mantine-color-orangeBlack-0), 0.3);
  backdrop-filter: blur(10px);
  padding: 0.2em 0.6em;
  border-radius: rem(8px);

  @media (max-width: 895px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: rem(8px);
    gap: rem(2px);
    background-color: transparent;
    backdrop-filter: none;
    padding: none;
    border-radius: none;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: row;
    gap: rem(6px);
    margin-top: rem(24px);
  }
}

.tableRow {
  border-bottom: 0.5px solid alpha(var(--mantine-color-fontWhite-0), 0.3);
  border-top: 0.5px solid alpha(var(--mantine-color-fontWhite-0), 0.3);
  padding: rem(64px) 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--mantine-spacing-lg);
  }
}

.rowTitle {
  font-weight: var(--mantine-fw-medium);
  margin-left: var(--mantine-spacing-xl) !important;
  @media (max-width: $mantine-breakpoint-md) {
    margin-left: 0px !important;
  }
}

.rowContent {
  margin-right: var(--mantine-spacing-xl) !important;
  gap: var(--mantine-spacing-xl);
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0px !important;
    gap: var(--mantine-spacing-sm);
  }

  @media (max-width: $mantine-breakpoint-xxs) {
    flex-direction: column;
  }
}

.arrow {
  cursor: pointer;
  @media (max-width: $mantine-breakpoint-md) {
    width: rem(32px);
  }
}
